{# import template #} 
{% extends 'layout.jinja' %}

{# title block #}
{% block title %}
    Fuel prices
{% endblock title %}

{# content block #}
{% block content %}
    <h3>Fuel prices</h3>
    <table>
        <tr>
            <th>
                Navn
            </th>
            <th>
                92
            </th>
            <th>
                95
            </th>
            <th>
                100
            </th>
            <th>
                D
            </th>
            <th>
                D+
            </th>            
        </tr>
        {% for prices in obj %}
            <tr>
            <td>{{prices}}</td>
            <td>{{obj[prices]['92'] | safe}}</td>
            <td>{{obj[prices]['95'] | safe}}</td>
            <td>{{obj[prices]['100'] | safe}}</td>
            <td>{{obj[prices]['d'] | safe}}</td>
            <td>{{obj[prices]['d+'] | safe}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <div class="updated_time">
        Updated: 
        {{last_update}}
    </div>
{% endblock content %}
