{# import template #} 
{% extends 'layout.jinja' %}

{# title block #}
{% block title %}
    Main Page
{% endblock title %}

{# content block #}
{% block content %}
    <h3>Fuel prices</h3>
    <table>
        <tr>
            <th>
                Navn
            </th>
            <th>
                92
            </th>
            <th>
                95
            </th>
            <th>
                100
            </th>
            <th>
                D
            </th>
            <th>
                D+
            </th>            
        </tr>
        {% for prices in obj %}
            <tr>
            <td>{{prices}}</td>
            <td style="color:{% if '92' in last[prices] and obj[prices]['92'] > last[prices]['92']%} red {% else %} green {% endif %}">{{obj[prices]['92']}}</td>
            <td style="color:{% if '95' in last[prices] and obj[prices]['95'] > last[prices]['95']%} red {% else %} green {% endif %}">{{obj[prices]['95']}}</td>
            <td style="color:{% if '100' in last[prices] and obj[prices]['100'] > last[prices]['100']%} red {% else %} green {% endif %}">{{obj[prices]['100']}}</td>
            <td style="color:{% if 'd' in last[prices] and obj[prices]['d'] > last[prices]['d']%} red {% else %} green {% endif %}">{{obj[prices]['d']}}</td>
            <td style="color:{% if 'd+' in last[prices] and obj[prices]['d+'] > last[prices]['d+']%} red {% else %} green {% endif %}">{{obj[prices]['d+']}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <div class="updated_time">
        Updated: 
        {{last_update}}
    </div>
{% endblock content %}
